@using DailyCostWebApplication.CustomHtmlHelpers
@model CostDetailViewModel
@{
    //Layout = null;
    ViewBag.Title = "Cost Detail";
}
<div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
        <div class="card">
            <div class="card-header">
                @Model.PageTitle
            </div>
            @Html.Image(@Model.CostData.PhotoPath, @Model.CostData.AltText, "card-img-top")
            @*<img src="@Model.CostData.PhotoPath" alt="@Model.CostData.AltText" class="card-img-top"/>*@
            <div class="card-body">
                <p class="card-text">ID: @Model.CostData.ID</p>
                <p class="card-text">Amount: @Model.CostData.Amount</p>
                <p class="card-text">Category: @Model.CostData.Category</p>
                <p class="card-text">Comment: @Model.CostData.Comment</p>
                <a href="#" class="btn btn-primary">Cost List</a>
            </div>
        </div>
    </div>
</div>
 
